﻿@page
@model eAuction.Pages.AddModel
@{
    ViewData["Title"] = "Sell";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
</head>

<body>
    <header id="header">
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a asp-page="Index"><img src="images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                                <li><a href=""><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a asp-page="Index" class="active">Home</a></li>
                                <li class="dropdown">
                                    <a asp-page="Index">Categories<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Watches & Jewellery</a></li>
                                        <li><a href="product-details.html">Fine Art</a></li>
                                        <li><a href="checkout.html">Furniture</a></li>
                                        <li><a href="cart.html">Vintage Fashion</a></li>
                                    </ul>
                                </li>
                                <li><a asp-page="Add">Sell</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="form">
        <div class="container">
            <div class="row">
                <div class="add-item-form">
                    <div class="col-sm-4 col-sm-offset-1">
                        <h2>Add an item to sell</h2>
                        <form method="post">
                            <p>Name:</p>
                            <input asp-for="@Model.Item.Name" type="text" placeholder="Name" required="" />
                            <p>Category:</p>
                            <select asp-for="@Model.Item.Category" required="">
                                <option value="" disabled selected>Select category</option>
                                <option value="Watches & Jewellery">Watches & Jewellery</option>
                                <option value="Fine Art">Fine Art</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Vintage Fashion">Vintage Fashion</option>
                            </select>
                            <p>Your estimate:</p>
                            <input asp-for="@Model.Item.Estimate" type="number" placeholder="Your estimate ($)" required="" />
                            <p>Opening price:</p>
                            <input asp-for="@Model.Item.Current" type="number" placeholder="Opening price ($)" required="" />
                            <p>Description:</p>
                            <textarea asp-for="@Model.Item.Description" placeholder="Description" required=""> </textarea>
                            <p>Sale end</p>
                            <input asp-for="@Model.Item.Sale_End" type="datetime-local" required="" />
                            <button type="submit" class="btn btn-default">Sell</button>
                        </form>
                    </div>
                </div>        
            </div>
        </div>
    </section>


    <footer id="footer">

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2021 eAuction. All rights reserved.</p>
                    <p class="pull-right">Designed by Miloš Veljanovski</p>
                </div>
            </div>
        </div>

    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>