﻿@page
@model IndexModel
@{
    ViewData["Title"] = "eAuction";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
</head>

<body>
    <header id="header">    

        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a asp-page="Index"><img src="images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                                <li><a href=""><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">              
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a asp-page="Index" class="active">Home</a></li>
                                <li class="dropdown">
                                    <a asp-page="Index">Categories<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a asp-route-category="Watches & Jewellery" asp-page-handler="Category">Watches & Jewellery</a></li>
                                        <li><a asp-route-category="Fine Art" asp-page-handler="Category">Fine Art</a></li>
                                        <li><a asp-route-category="Furniture" asp-page-handler="Category">Furniture</a></li>
                                        <li><a asp-route-category="Vintage Fashion" asp-page-handler="Category">Vintage Fashion</a></li>
                                    </ul>
                                </li>
                                <li><a asp-page="Add">Sell</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a asp-route-category="Watches & Jewellery" asp-page-handler="Category">Watches & Jewellery</a></h4>                                 
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a asp-route-category="Fine Art" asp-page-handler="Category">Fine Art</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a asp-route-category="Furniture" asp-page-handler="Category">Furniture</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a asp-route-category="Vintage Fashion" asp-page-handler="Category">Vintage Fashion</a></h4>
                                </div>
                            </div>
                        </div>                     

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <h2 class="title text-center">Featured Items</h2>
                    @foreach(var i in Model.items)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a asp-page="Single" asp-route-id="@i.Id">
                                            <img src="images/@(i.Item.Name).jpg" alt="" />
                                        </a>
                                        <h2>$@i.Item.Current</h2>
                                        <p>@i.Item.Name</p>
                                        <a asp-page="Single" asp-route-id="@i.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid</a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2021 eAuction. All rights reserved.</p>
                    <p class="pull-right">Designed by Miloš Veljanovski</p>
                </div>
            </div>
        </div>
    </footer>



    <script src="js/jquery.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
