﻿@page
@model eAuction.Pages.SingleModel
@{
    ViewData["Title"] = "Single";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
</head>

<body>
    <header id="header">
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a asp-page="Index"><img src="images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                                <li><a href=""><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a asp-page="Index" class="active">Home</a></li>
                                <li class="dropdown">
                                    <a asp-page="Index">Categories<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a asp-page="Index" asp-route-category="Watches & Jewellery" asp-page-handler="Category">Watches & Jewellery</a></li>
                                        <li><a asp-page="Index" asp-route-category="Fine Art" asp-page-handler="Category">Fine Art</a></li>
                                        <li><a asp-page="Index" asp-route-category="Furniture" asp-page-handler="Category">Furniture</a></li>
                                        <li><a asp-page="Index" asp-route-category="Vintage Fashion" asp-page-handler="Category">Vintage Fashion</a></li>
                                    </ul>
                                </li>
                                <li><a asp-page="Add">Sell</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 padding-right">
                    <div class="product-details">
                        <div class="col-sm-4">
                            <div class="view-product">
                                <img src="images/@(Model.Item.Name).jpg" alt="" />
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="product-information">
                                <form method="post">
                                    <h2>@Model.Item.Name</h2>
                                    <p>Auctioneer's estimate: $@Model.Item.Estimate</p>
                                    <span>
                                        <span>Current bid: $@Model.Item.Current</span>
                                        <label>Your bid:</label>
                                        <input type="number" min="0" value="@(Math.Ceiling(Model.Item.Current+0.05*Model.Item.Current))" asp-for="@Model.NewBid" />$
                                        <input type="hidden" value="@Model.Item.Current" asp-for="@Model.Item.Current" />
                                        <button type="submit" asp-page-handler="Bid" class="btn btn-fefault cart">
                                            <i class="fa fa-shopping-cart"></i>
                                            Place bid
                                        </button>
                                        <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
                                    </span>
                                    <p><b>Description:</b> @Model.Item.Description</p>
                                    <p><b>Category:</b> @Model.Item.Category</p>
                                    <p><b>Sale date:</b> @Model.Item.Sale_End</p>
                                </form>
                                <form method="post">
                                    <a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-default add-to-cart"><i class="fa fa-pencil"></i>Edit</a>
                                    <button type="submit" asp-page-handler="Delete" class="btn btn-default add-to-cart"><i class="fa fa-trash-o"></i>Delete</button>
                                    <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="recommended_items">
                        <h2 class="title text-center">recommended items</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    @for (int k = 0; k < 3; k++)
                                    {
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="text-center">
                                                        <a asp-page="Single" asp-route-id="@Model.items[k].Id">
                                                            <img src="images/@(Model.items[k].Item.Name)_R.jpg" alt="" />
                                                        </a>
                                                        <h2>$@Model.items[k].Item.Current</h2>
                                                        <p>@Model.items[k].Item.Name</p>
                                                        <a asp-page="Single" asp-route-id="@Model.items[k].Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="item">
                                    @for (int j = Model.items.Count - 1; j > Model.items.Count - 4; j--)
                                    {
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="text-center">
                                                        <a asp-page="Single" asp-route-id="@Model.items[j].Id">
                                                            <img src="images/@(Model.items[j].Item.Name)_R.jpg" alt="" />
                                                        </a>
                                                        <h2>$@Model.items[j].Item.Current</h2>
                                                        <p>@Model.items[j].Item.Name</p>
                                                        <a asp-page="Single" asp-route-id="@Model.items[j].Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer id="footer">

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2021 eAuction. All rights reserved.</p>
                    <p class="pull-right">Designed by Miloš Veljanovski</p>
                </div>
            </div>
        </div>

    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>